.footerContainer{
    background-color: #172146;
    /* padding: 80px 16%; */
    padding: 40px 8%;
    color: #fff;
    width: 100%;
    box-sizing: border-box;
   
}

.footerInner{
    flex-direction: row;
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-evenly;
    
    
}
.footerColumn{
    flex-direction: column;
    /* margin-right: 0; */
    margin-top: 4px;
    display: flex;
    /* cursor: pointer; */
    margin-bottom: 4px;
    padding: 4px 0;

    font-size: 14px;
    font-family: Roboto;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: .3px;
    text-align: left;
    color: #fff;
    padding: 13px 83px;

}
 a{
    padding: 7px 1px;
    cursor: pointer;
}


.headingColumn{
    color: hsla(0,0%,100%,.5);
    font-weight: 500;
}
.links{
    color: hsla(0,0%,100%,.5);
    font-weight: 500;
    cursor: pointer;
}
h3{
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}